.warningMessage {
  color: #ffc107;
}

.errorMessage {
  color: #ff1707;
}

.uploadForm {
  max-width: 400px;
  margin: 50px auto;
}

.uploadForm > div > input,
.uploadForm > div > select {
  margin-bottom: 10px;
}
