.homeMain {
  padding: 40px;
}

.activityTable button {
  margin: 4px;
}

.activityTable {
  margin-bottom: 50px;
}

.warningMessage {
  color: #ffc107;
}

.errorMessage {
  color: #ff1707;
}

.categoryCell {
  display: flex;
  justify-content: space-between;
}

.categoryCell div.categoryName {
  max-width: 120px;
}
